CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
shuffle
.vscode/
build/
.idea/
cmake-build-debug/
cmake-build-debug-visual-studio/
cmake-build-debug-wsl/
cmake-build-release-visual-studio/
cmake-build-release-wsl/
include/version.h
lib/Debug/
lib/Release/
bin/Debug/
bin/Release/
shuffle.dir/
x64/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
INSTALL.vcxproj
INSTALL.vcxproj.filters
shuffle.sln
shuffle.vcxproj
shuffle.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
key.txt
.cmake/